html {
	margin: 0;
	padding: 0;
}

body {
	background-color: #0f151e;
	transition: 2.3s all;
	height: 115vh;
}

a {
	color: #ffc364;
}


/*background stuff */
.space {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
}

.space img {
	width: 100%;
	height: 100vh;
}


iframe#player {
	position: fixed;
	z-index: -1000;
	bottom: 0;
	right: 0;
	height: 0;
}

.player {
	height: 200px;
	width: 200px;
	background-color: black;
	padding-bottom: 1%;
	display: inline;
	-webkit-overflow-scrolling: touch;
	overflow: auto;
	z-index: -1000;
}


/* star background groups */
.groupA {
	position: fixed;
	width: 100%;
	height: 100vh;
}

.groupB {
	position: relative;
	width: 100%;
	height: 105vh;
}

div#groupA{
	position: fixed;
	width: 1200px;
	top: 0;
	left: 50%; 
	margin-left: -600px; 
	z-index: 1;
}
div#groupB div{
	background-repeat: no-repeat;
	position:absolute;
	display:block;
	overflow:hidden;
}

/* stars */
.stars {
	background-color: #dae2ed;
	width: .2rem;
	height: .2rem;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}

#starOne {
	width: .5rem;
	height: .5rem;
	position: fixed;
	left: 55%;
	top: 8%;
}

#starTwo {
	width: .3rem;
	height: .3rem;
	position: fixed;
	left: 18%;
	top: 16%;
}

#starThree {
	position: fixed;
	left: 70%;
	top: 32%;
}

#starFour {
	position: fixed;
	left: 8%;
	top: 8%;
}

#starFive {
	position: fixed;
	left: 60%;
	top: 30%;
}

#starSix {
	position: fixed;
	left: 85%;
	top: 15%;
}

#starSeven {
	position: fixed;
	left: 30%;
	top: 35%;
}

#starOneB {
	width: .4rem;
	height: .4rem;
	position: relative;
	left: 25%;
	top: 78%;
}

#starTwoB {
	width: .5rem;
	height: .5rem;
	position: relative;
	left: 68%;
	top: 56%;
}

#starThreeB {
	width: .3rem;
	height: .3rem;
	position: relative;
	left: 20%;
	top: 12%;
}

#starFourB {
	width: .5rem;
	height: .5rem;
	position: relative;
	left: 18%;
	top: 48%;
}

#starFiveB {
	position: relative;
	left: 80%;
	top: 10%;
}

#starSixB {
	position: relative;
	left: 45%;
	top: 95%;
}

#starSevenB {
	position: relative;
	left: 90%;
	top: 65%;
}

/* Keyframes for stars */
@-webkit-keyframes starsAppear { 
	from { opacity: 0;} 
	to { opacity:1; } 
}

@-moz-keyframes starsAppear {
	from { opacity: 0; } 
	to { opacity: 1; } 
}

@keyframes starsAppear {
	from { opacity:0; } 
	to { opacity:1; } 
}


.stars {
	opacity:0;
	opacity: 1 \9; /*just in case ie*/
	-webkit-animation: starsAppear ease-in 1;
	-moz-animation: starsAppear ease-in 1;
	animation: starsAppear ease-in 1;

	-webkit-animation-fill-mode:forwards;
	-moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;

	-webkit-animation-duration:1s;
	-moz-animation-duration:1s;
	animation-duration:1s;
}

.stars#starOne {
	-webkit-animation-delay: 1.0s;
	-moz-animation-delay: 1.0s;
	animation-delay: 1.0s;
}

.stars#starTwo, .stars#starSixB  {
	-webkit-animation-delay: 2.3s;
	-moz-animation-delay: 2.3s;
	animation-delay: 2.3s;
}

.stars#starThree, .stars#starThreeB {
	-webkit-animation-delay: 3.0s;
	-moz-animation-delay: 3.0s;
	animation-delay: 3.0s;
}

.stars#starFour, .stars#starOneB, .stars#starSevenB {
	-webkit-animation-delay: 3.8s;
	-moz-animation-delay: 3.8s;
	animation-delay: 3.8s;
}

.stars#starFive, .stars#starTwoB {
	-webkit-animation-delay: 4.5s;
	-moz-animation-delay: 4.5s;
	animation-delay: 4.5s;
}

.stars#starSix {
	-webkit-animation-delay: 5.2s;
	-moz-animation-delay: 5.2s;
	animation-delay: 5.2s;
}

.stars#starSeven, .stars#starFiveB, .stars#starFourB {
	-webkit-animation-delay: 6.0s;
	-moz-animation-delay: 6.0s;
	animation-delay: 6.0s;
}

/* earth shadow */
.earth {
	position: fixed;
	right: 0;
	bottom: 0;
	background: #0f151e;
	width: 100%;
	height: 40%;
	border-top-left-radius: 50% 70%;  
	border-top-right-radius: 50% 70%;
}

.dark {
	position: fixed;
	right: 0;
	bottom: 0;
	background: #0f151e;
	width: 100%;
	height: 40%;
	border-top-left-radius: 50% 70%;  
	border-top-right-radius: 50% 70%;	
}

.fadeout {
	opacity: 0;
	-webkit-transition: top 2s, opacity 3s;
	transition: top 2s, opacity 3s;
}


.contain {
	position: absolute;
	width: 100%;
	height: 100%;
	bottom: 0px;
	top: 10px;
	margin: 0 auto 10px auto;
	background-size: contain;
}

/* FLIGHT PATH */
.dash-container {
	position: absolute;
	width: 100vw;
	height: 100vh;
}


.dash {
	opacity: 0;
	width: 1rem;
	height: 1rem;
	position: fixed;
	background-color: #ffc364;
	border-radius: 50%; 
}

#dashOne {
	left: 18%;
	bottom: 22%;
}

#dashTwo {
	left: 24%;
	bottom: 28%;
}

#dashThree {
	left: 30%;
	bottom: 32%;
}

#dashFour {
	left: 36%;
	bottom: 35%;
}

#dashFive {
	left: 42%;
	bottom: 36.5%;
}

#dashSix {
	left: 48%;
	bottom: 37%;
}

#dashSeven {
	left: 54%;
	bottom: 36.5%;
}

#dashEight {
	left: 60%;
	bottom: 35%;
}

#dashNine {
	left: 66%;
	bottom: 33%;
}

#dashTen {
	left: 72%;
	bottom: 30%;
}

#dashEleven {
	left: 78%;
	bottom: 26.5%;
}
@-webkit-keyframes dashesAppear { 
	from { opacity: 0;} 
	to { opacity:1; } 
}

@-moz-keyframes dashesAppear {
	from { opacity: 0; } 
	to { opacity: 1; } 
}

@keyframes dashesAppear {
	from { opacity:0; } 
	to { opacity:1; } 
}

.dash-animate {
	opacity:0;
	opacity: 1 \9; /*just in case ie*/
	-webkit-animation: dashesAppear ease-in 1;
	-moz-animation: dashesAppear ease-in 1;
	animation: dashesAppear ease-in 1;

	-webkit-animation-fill-mode:forwards;
	-moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;

	-webkit-animation-duration:0s;
	-moz-animation-duration:0s;
	animation-duration:0s;
}

.dash#dashOne {
	-webkit-animation-delay: 0.5s;
	-moz-animation-delay: 0.5s;
	animation-delay: 0.5s;
}

.dash#dashTwo {
	-webkit-animation-delay: 1.0s;
	-moz-animation-delay: 1.0s;
	animation-delay: 1.0s;
}

.dash#dashThree {
	-webkit-animation-delay: 1.5s;
	-moz-animation-delay: 1.5s;
	animation-delay: 1.5s;
}

.dash#dashFour {
	-webkit-animation-delay: 2.0s;
	-moz-animation-delay: 2.0s;
	animation-delay: 2.0s;
}

.dash#dashFive {
	-webkit-animation-delay: 2.5s;
	-moz-animation-delay: 2.5s;
	animation-delay: 2.5s;
}

.dash#dashSix {
	-webkit-animation-delay: 3.0s;
	-moz-animation-delay: 3.0s;
	animation-delay: 3.0s;
}

.dash#dashSeven {
	-webkit-animation-delay: 3.5s;
	-moz-animation-delay: 3.5s;
	animation-delay: 3.5s;
}

.dash#dashEight {
	-webkit-animation-delay: 4.0s;
	-moz-animation-delay: 4.0s;
	animation-delay: 4.0s;
}

.dash#dashNine {
	-webkit-animation-delay: 4.5s;
	-moz-animation-delay: 4.5s;
	animation-delay: 4.5s;
}

.dash#dashTen {
	-webkit-animation-delay: 5.0s;
	-moz-animation-delay: 5.0s;
	animation-delay: 5.0s;
}

.dash#dashEleven {
	-webkit-animation-delay: 5.5s;
	-moz-animation-delay: 5.5s;
	animation-delay: 5.5s;
}

.dash#dashTwelve {
	-webkit-animation-delay: 6.0s;
	-moz-animation-delay: 6.0s;
	animation-delay: 6.0s;
}

/* YOUVE GOT MAIL (ugh rly mixing cinema classics down here) */
.icons {
	cursor: pointer;
	width: 100%;
}

.icon {
	width: 7%;
	height: auto;
}

.icons.send {
	position: fixed;
	left: 16%;
	bottom: 19%;
	z-index: 6;
}

.icons.mail {
	position: fixed;
	left: 75%;
	bottom: 22%;
	z-index: 6;
}

.send-btn {
	display: none;
}

.sent {
	display: none;
}

.open {
	display: none;
} 

.close {
	display: none;
}

.mail.close {
	z-index: 6;
}

/* Note display */
.note {
	display: none;
	position: fixed;
	padding-top: 10%;
	padding-left: 15%;
	padding-right: 15%;
	right: 0;
	width: auto;
	height: 100vh;
	background-color: #0f151e;
	color: #ffc364;
	font-family: 'Ubuntu Mono', monospace;
	font-weight: 400;
	z-index: 5;
	overflow: scroll;
}

.title {
	font-weight: 700: 
}

.signature {
	font-weight: 700;
	font-size: 1em;
}

/* horizon colors */
.twilight {
	background: #193959;
}

.sunrise {
	background: #184b89;
}

/* svg flight path-- commented out bc need to debug layout issues */
#flight-path {
	position: fixed;
	left: 9.5%;
	bottom: 11rem;
	width: 91%;
	z-index: 2;
}

#plane-path {
	fill: none;
	position: relative;
	stroke: #9cdfc8;
	stroke-width: 4px;
	stroke-dasharray: 1000;
	stroke-dashoffset: 1000;
	z-index: 1;
}

@keyframes dashScroll {
to {
	stroke-dashoffset: 0;
}

div#plane {
	width: 20px;
	height: 20px;
	background-color: red;
}

#plane {
	opacity: 0;
	position: relative;
	z-index: 3;

}

@-webkit-keyframes plane {
	0% {
		opacity: 0; }

		15% {
			opacity: 1; }

			98% {
				opacity: 1; }

				100% {
					opacity: 0; } }
					@-moz-keyframes plane {
						0% {
							opacity: 0; }

							15% {
								opacity: 1; }

								98% {
									opacity: 1; }

									100% {
										opacity: 0; } }
										@keyframes plane {
											0% {
												opacity: 0; }

												15% {
													opacity: 1; }

													98% {
														opacity: 1; }

														100% {
															opacity: 0; } }




.hidden {
	display: none;
}
